* {
  background-color: black;
  margin: 0;
  padding: 0;
}

header > .logo > img {
  width: 200px;
  height: 100px;
  float: left;
  margin-left: 10px;
}

header > .avatar > img {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
