@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  /* className="border-2 border-blue-400 rounded
  hover:bg-blue-200 hover:text-white cursor-pointer" */
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
}
.btn:hover {
  border: none;
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
